<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kabunx.app.mapper.UserPasswordResetMapper">

    <resultMap id="BaseResultMap" type="com.kabunx.app.model.UserPasswordReset">
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="token" column="token" jdbcType="VARCHAR"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        email,token,created_at
    </sql>
</mapper>
